.card {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
  position: relative;
  height: fit-content;

  &-header {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    padding: 20px 16px;

    &__title {
      font-size: 16px;
      font-family: "Proxima-Bold";
    }

    &--has-divider {
      border-bottom: 1px solid #ebeced;
    }

    &--has-border-top-bottom {
      border-top: 1px solid #ebeced;
      border-bottom: 1px solid #ebeced;
    }
  }

  &-body {
    border-radius: inherit;
    padding: 16px;
    overflow-y: auto;
  }

  &-footer {
    background-color: #ffffff;
    border-top: 1px solid #ebeced;
    padding: 20px 16px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
