.bilateral-icon {
  line-height: normal;
}

.bilateral-icon.office:before {
  content: url('../../assets/icons/ic-office.svg');
}

.bilateral-icon.graph:before {
  content: url('../../assets/icons/ic-graph.svg');
}

.bilateral-icon.handshake:before {
  content: url('../../assets/icons/ic-handshake.svg');
}

.bilateral-icon.handshake.active:before {
  content: url('../../assets/icons/ic-handshake-active.svg');
}

.bilateral-icon.segrakan:before {
  content: url('../../assets/icons/ic-segrakan.svg');
}

.bilateral-icon.import:before {
  content: url('../../assets/icons/ic-import.svg');
}

.bilateral-icon.export:before {
  content: url('../../assets/icons/ic-export.svg');
}

.bilateral-icon.search:before {
  content: url('../../assets/icons/ic-search.svg');
}

.bilateral-icon.search-gray:before {
  content: url('../../assets/icons/ic-search-gray.svg');
}

.bilateral-icon.sort:before {
  content: url('../../assets/icons/ic-sort.svg');
}

.bilateral-icon.eye:before {
  content: url('../../assets/icons/ic-eye.svg');
}

.bilateral-icon.pencil:before {
  content: url('../../assets/icons/ic-pencil.svg');
}

.bilateral-icon.close:before {
  content: url('../../assets/icons/ic-close.svg');
}