.main-sidebar {
  float: left;
  min-height: 100vh;
  width: 20%;
  padding: 16px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  &__title {
    letter-spacing: 0.3em;
  }
}

.main-sidebar-head {
  margin-bottom: 30px;
}

.main-sidebar-menu {
  color: #ffffff;
  margin-top: 20px;

  &__title {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    opacity: 0.3;
    margin-bottom: 10px;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 30px;
    }

    ul {
      > li {
        margin-left: -16px;
        margin-right: -16px;

        > a {
          color: #ffffff;
          display: flex;
          align-items: center;
          font-size: 14px;
          opacity: 0.6;
          padding: 16px;
          text-decoration: none;

          > i {
            margin-right: 8px;
          }
        }

        &:hover,
        &.active {
          background-color: rgba(0, 0, 0, 0.8);
          > a {
            opacity: 1;
          }
        }

        &.active {
          border-left: 3px solid #F88A28;

          > a {
            font-family: "Proxima-Bold";
          }
        }
      }
    }
  }
}
